<div ng-controller="ProgrammController">

  <label>Status: {{ status.program.status | firstUpTailLower }}</label>
  <br>
  <label for="programStartTime">StartTime:</label>
  <input id="programStartTime" type="text" ng-model="status.program.startTime"/>


  <table>
    <tr>
      <th>Outlet</th>
      <th>Duration [minutes]</th>
      <th>Status</th>
    </tr>
    <tr ng-repeat="outlet in status.program.outlets">
      <!--<ng-include src="'/templates/outlet-template.html'"></ng-include>-->
      <td>{{outlet.id}}</td>
      <td>
        <input class="input-mini" name="outlet_{{outlet.id}}" type="text" ng-model="outlet.duration">
      </td>
      <td>
        <label>{{outlet.status | firstUpTailLower }}</label>
        <!--<label>{{statusToString(outlet.status)}}</label>-->
      </td>
    </tr>
  </table>

  <button class="btn-small" ng-click="program('run')" ng-show="showRunButton()">Run</button>
  <button class="btn-small" ng-click="program('stop')" ng-show="! showRunButton()">Stop</button>
  <p/>
  <!--<button class="btn-small" ng-click="updateStatus()">Refresh</button>-->
</div>
